    body { background-image: url(https://img00.deviantart.net/e255/i/2017/244/a/5/blend_s_by_matsumayu-dbm0yk7.png)}
    body {background-size: 100%}
    #estilo1{color:#FFF;background:rgb(255, 255, 255); margin-right: -1%; margin-left: -1%; margin-top: 1%; margin-bottom: 0%}

    #estilo2{color:rgb(187, 173, 173);background:rgba(11, 11, 59, 0.774);}